[submodule "3rdparty/Boost.NumPy"]
	path = 3rdparty/Boost.NumPy
	url = https://github.com/ndarray/Boost.NumPy.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib.git
